body {
    font-family: Arial, sans-serif;
    background-image: url("imagelogin.jpeg");
    background-repeat: no-repeat;
    background-size: cover
}
.signup-container {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20%;
}
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="tel"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.signup-container input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.signup-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.login-link {
    text-align: center;
    margin-top: 10%;
}
.login-link a {
    color: #007bff;
    text-decoration: none;
}